<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="headerFragment">
        <header>
            <div class="container">
                <div class="logo" onclick="window.location.href='https://binary96.store/'">
                    <h1>뭐든지 만들어드립니다</h1>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li><a href="https://binary96.store/food"><i class="fas fa-utensils"></i>밥 좀 묵자!</a></li>
                        <li><a href="https://binary96.store/lucky"><i class="fas fa-star"></i>오늘의 운세</a></li>
                        <li><a href="https://binary96.store/game"><i class="fas fa-gamepad"></i>게임</a></li>
                        <li><a href="https://binary96.store/voteList"><i class="fas fa-vote-yea"></i>익명 투표</a></li>
                        <li><a href="https://binary96.store/rsiSummary"><i class="fas fa-chart-line"></i>코인 RSI 정보</a></li>
                        <li><a href="https://binary96.store/getLotto"><i class="fas fa-medal"></i>로또 당첨 순위</a></li>
                        <li><a href="javascript:void(0);" onclick="redirectToKakaoLogin(event)"><i class="fas fa-sign-in-alt"></i>카카오로그인</a></li>
                    </ul>
                </nav>
                <div class="hamburger" onclick="toggleMenu()">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
    </div>
</body>
</html>