/* 채팅 시스템 스타일 */
.chat-title {
    font-family: 'IBMPlexSansKR-Regular', Arial, sans-serif;
    font-size: 24px;
    color: #343a40;
    margin-bottom: 10px;
    text-align: center;
}

#chat {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px 1rem 2rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

#chat-box {
    border: 1px solid #ddd;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 사용자 이름 스타일 */
.message-username {
    font-weight: bold;
    color: #5239AA;
    margin-right: 5px;
}

/* 메시지 내용 스타일 */
.message-text {
    color: #333;
}

#message-input, #username-input {
    width: calc(100% - 80px);
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-family: 'IBMPlexSansKR-Regular', Arial, sans-serif;
}

#message-input {
    height: 70px;
}

.chat-buttons {
    width: calc(100% - 61px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* 버튼 높이에 맞게 조정 */
}

button {
    padding: 0 1rem;
    font-size: 14px;
    font-family: 'TTHakgyoansimUndongjangL', Arial, sans-serif;
    background-color: #5239AA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px; /* 버튼 높이에 맞게 조정 */
}

button:hover {
    background-color: #3F3955;
}

.kakao-login-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.kakao-link {
    display: inline-block;
    height: 40px; /* 버튼 높이에 맞게 조정 */
    vertical-align: bottom;
}

.nickname-form {
    display: inline-block;
    height: 100%;
}

#kakao-login-btn {
    height: 40px;
}

input::placeholder {
    font-family: 'IBMPlexSansKR-Regular', Arial, sans-serif;
}
