<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>투표 수정하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="투표 수정하기">
    <meta name="description" content="투표 수정하기">
    <meta property="og:title" content="투표 수정하기">
    <meta property="og:description" content="투표 수정하기">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vote.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script th:src="@{/js/header.js}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6890085609044109" crossorigin="anonymous"></script>

</head>
<body>
    <header th:replace="fragment/header :: headerFragment"></header>

    <div class="intro">
        <h2 class="main-title">투표 수정하기</h2>
    </div>

    <div class="vote-container">
        <form th:action="@{/vote/update/{id}(id=${vote.id})}" method="post" class="vote-form" onsubmit="return validateForm()">
            <input type="hidden" name="voteType" th:value="${vote.voteType}">
            <input type="hidden" name="meetId" th:value="${vote.meetId}">
            <div>
                <p>* 투표 관리자 비밀번호는 투표 수정 및 삭제 용도입니다.</p>
                <p>* 중복 투표 시 옵션 최대 개수 상관 없으면 빈 칸으로 생성하세요.</p>
            </div>
            <div>
                <label for="votePassword" class="form-label">투표 관리자 비밀번호:</label>
                <input type="text" id="votePassword" name="votePassword" class="vote-input form-control" th:value="${vote.votePassword}" required>
            </div>
            <div class="form-group">
                <label for="title" class="form-label">투표 제목:</label>
                <input type="text" id="title" name="title" class="vote-input form-control" th:value="${vote.title}" required>
            </div>
            <div class="form-group">
                <label for="allowMultipleVotes" class="form-label">중복 투표 허용:</label>
                <input type="hidden" id="hiddenAllowMultipleVotes" name="allowMultipleVotes" value="false">
                <input type="checkbox" id="allowMultipleVotes" name="allowMultipleVotes" class="vote-input" th:checked="${vote.allowMultipleVotes}" value="true" onchange="toggleMaxOptions()">
            </div>
            <div class="form-group" id="maxOptionsGroup" style="display: none;">
                <label for="maxOptions" class="form-label">중복 투표 시 선택 옵션 최대 개수:</label>
                <input type="number" id="maxOptions" name="maxOptions" class="vote-input form-control" th:value="${vote.maxOptions}">
            </div>
            <ul id="optionList" class="vote-options">
                <li th:each="option, iter : ${options}" class="form-group">
                    <span class="option-label" th:text="'항목 ' + ${iter.index + 1} + ': '"></span>
                    <input type="text" name="options" class="vote-input form-control" th:value="${option.optionText}" required>
                </li>
            </ul>
            <div class="form-actions">
                <button type="button" onclick="addOption()" class="vote-button">선택지 추가</button>
                <button type="button" onclick="removeOption()" class="vote-button">선택지 제거</button>
                <button type="submit" class="vote-button">투표 수정</button>
            </div>
        </form>
    </div>

<script>
    function addOption() {
        var optionList = document.getElementById("optionList");
        var optionItem = document.createElement("li");
        var span = document.createElement("span");
        span.classList.add("option-label");
        var input = document.createElement("input");
        input.type = "text";
        input.name = "options";
        input.classList.add("vote-input");
        input.required = true;
        optionItem.appendChild(span);
        optionItem.appendChild(input);
        optionList.appendChild(optionItem);
        updateOptionNumbers();
    }

    function removeOption() {
        var optionList = document.getElementById("optionList");
        if (optionList.childElementCount > 2) {
            optionList.removeChild(optionList.lastChild);
        }
        updateOptionNumbers();
    }

    function updateOptionNumbers() {
        var optionList = document.getElementById("optionList");
        var options = optionList.getElementsByTagName("li");
        for (var i = 0; i < options.length; i++) {
            var span = options[i].getElementsByClassName("option-label")[0];
            span.textContent = "항목 " + (i + 1) + ": ";
        }
    }

    function toggleMaxOptions() {
        var allowMultipleVotesCheckbox = document.getElementById("allowMultipleVotes");
        var maxOptionsGroup = document.getElementById("maxOptionsGroup");
        if (allowMultipleVotesCheckbox.checked) {
            maxOptionsGroup.style.display = "block";
        } else {
            maxOptionsGroup.style.display = "none";
        }
    }

    function validateForm() {
        var inputs = document.querySelectorAll(".vote-input");
        for (var i = 0; i < inputs.length; i++) {
            // 중복 투표 허용(checkbox)과 중복 투표 시 선택 옵션 최대 개수 필드는 건너뜁니다.
            if (inputs[i].id === "allowMultipleVotes" || inputs[i].id === "maxOptions") {
                continue;
            }

            if (inputs[i].value.trim() === "") {
                alert("모든 필드를 채워주세요.");
                return false;
            }
        }
        return true;
    }

    window.onload = function() {
        updateOptionNumbers();

        var allowMultipleVotesCheckbox = document.getElementById("allowMultipleVotes");
        var hiddenAllowMultipleVotes = document.getElementById("hiddenAllowMultipleVotes");

        // 초기 상태 설정
        hiddenAllowMultipleVotes.value = allowMultipleVotesCheckbox.checked ? "true" : "false";

        if (allowMultipleVotesCheckbox.checked) {
            document.getElementById("maxOptionsGroup").style.display = "block";
        }

        allowMultipleVotesCheckbox.addEventListener('change', function() {
            hiddenAllowMultipleVotes.value = this.checked ? "true" : "false";
        });
    };
</script>

</body>
</html>
