<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모임 수정</title>
    <meta name="title" content="비공개 투표 모임 수정">
    <meta name="description" content="비공개 투표 모임 수정">
    <meta property="og:title" content="비공개 투표 모임 수정">
    <meta property="og:description" content="비공개 투표 모임 수정">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vote.css}">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script th:src="@{/js/header.js}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6890085609044109" crossorigin="anonymous"></script>
</head>
<body>
    <header th:replace="fragment/header :: headerFragment"></header>

    <div class="intro">
        <h2 class="main-title">모임 수정</h2>
    </div>

    <div class="vote-container">
            <form class="vote-form" th:action="@{/meet/edit/{id}(id=${meet.id})}" th:object="${meet}" method="post" onsubmit="return validateForm()">
                <div>
                    <label class="form-label" for="meetName">모임명:</label>
                    <input type="text" id="meetName" th:field="*{meetName}" required>
                </div>
                <div>
                    <label class="form-label" for="createdPassword">모임 생성 패스워드:</label>
                    <input type="text" id="createdPassword" th:field="*{createdPassword}" required>
                </div>
                <div>
                    <label class="form-label" for="meetPassword">모임 패스워드:</label>
                    <input type="text" id="meetPassword" th:field="*{meetPassword}" required>
                </div>
                <div class="form-actions">
                    <button type="submit">수정하기</button>
                </div>
            </form>
        </div>
    </div>

<script>
    function validateForm() {
        var inputs = document.querySelectorAll("input[required]");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value.trim() === "") {
                alert("모든 필드를 채워주세요.");
                return false;
            }
        }
        return true;
    }
</script>
</body>
</html>
