<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뭐든지 만들어드립니다</title>
    <meta name="title" content="뭐든지 만들어드립니다.">
    <meta name="description" content="뭐든지 만들어드립니다. 웹으로 만들 수 있는 걸 요청해주시면 최대한 만들어보겠습니다. ">
    <meta property="og:title" content="뭐든지 만들어드립니다.">
    <meta property="og:description" content="뭐든지 만들어드립니다. 웹으로 만들 수 있는 걸 요청해주시면 최대한 만들어보겠습니다. ">
    <meta name="naver-site-verification" content="7bf5ed460d4c7ce510734301ed66231be04df7ba" />
    <meta name="msvalidate.01" content="CDD92023DE164E539D882BD93CF03BCC" />
    <meta name="google-site-verification" content="6n2SJb2lATZ_KUu0EfXjXrOn2yTT-VcNv7aRmHJGoTU" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<header>
    <h1 onclick="window.location.href='https://binary96.store/'">뭐든지 만들어드립니다</h1>
</header>

<div class="btn-container">
    <button onclick="window.location.href='https://kimchilotto.netlify.app/'">로또 추첨기</button>
    <button onclick="window.location.href='https://godofdeath.pages.dev/'">죽음 예측 테스트</button>
    <button onclick="window.location.href='https://binary96.store/rsiSummary'">코인 RSI 정보</button>
    <button onclick="window.location.href='https://binary96.store/getLotto'">사용자요청</button>
</div>

<main class="container">
    <section class="intro">
        <h2>Binary의 서비스</h2>
        <p>저는 사용자의 요구에 맞춰 무엇이든 제작해드리는 서비스를 제공합니다. 현재는 코인 RSI 정보, 죽음 예측 테스트, 로또추첨기 서비스를 운영중입니다.</p>
        <p>아래에 요청해주시면 최대한 만들어보겠습니다.</p>
    </section>

    <!-- 채팅 시스템 -->
    <div id="chat">
        <div id="chat-box" style="height: 400px; overflow-y: scroll;">
            <div id="messages">
                <div th:each="message : ${messages}">
                    <span th:text="'[' + ${#temporals.format(message.createdAt, 'yyyy. M. d. a h:mm:ss')} + '] '"></span>
                    <span style="color: #4CAF50;" th:text="${message.username}"></span>
                    <span th:text="'님: ' + ${message.message}"></span>
                </div>
            </div>
        </div>
        <input type="text" id="username-input" placeholder="사용자 이름">
        <input type="text" id="message-input" placeholder="메시지를 입력하세요" onkeypress="if(event.keyCode==13) sendMessage()">
        <button onclick="sendMessage()">전송</button>
    </div>



    <div class="btn-container">
        <button onclick="window.location.href='https://blog.naver.com/ljs14741'">네이버블로그</button>
        <button onclick="window.location.href='https://jindduya.tistory.com/'">티스토리블로그</button>
    </div>
</main>
<footer>
    <p>&copy; 2024 뭐든지 만들어드립니다. </p>
</footer>

<script>
    var stompClient = null;
    var username = "";

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function(message) {
                showMessage(JSON.parse(message.body));
            });
        });
    }

    function sendMessage() {
        var usernameInput = document.getElementById('username-input');
        var messageInput = document.getElementById('message-input');
        if(usernameInput.value.trim() !== "" && messageInput.value.trim() !== "") {
            if(username === "") {
                username = usernameInput.value;
                usernameInput.disabled = true;
            }
            let offset = 1000 * 60 * 60 * 9; // 9시간 밀리세컨드 값
            let today = new Date(Date.now() + offset);

            var message = {
                username: username,
                message: messageInput.value,
                createdAt: today
            };

            stompClient.send("/app/chat", {}, JSON.stringify(message));
            messageInput.value = '';
        } else {
            alert("사용자 이름과 메시지를 입력하세요.");
        }
    }

    function showMessage(message) {
        var messages = document.getElementById('messages');
        var messageElement = document.createElement('div');
        var messageContent = `[${new Date(message.createdAt).toLocaleString()}] ${message.username}: ${message.message}`;
        messageElement.appendChild(document.createTextNode(messageContent));
        messages.appendChild(messageElement); // 새로운 메시지를 맨 아래에 추가
        scrollToBottom(); // 스크롤을 맨 아래로 이동
    }

    function scrollToBottom() {
        var chatBox = document.getElementById('chat-box');
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        connect();
        scrollToBottom();
    });
</script>
</body>
</html>
