<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>뭐든지 만들어드립니다</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="뭐든지 만들어드립니다.">
    <meta name="description" content="뭐든지 만들어드립니다. 웹으로 만들 수 있는 걸 요청해주시면 최대한 만들어보겠습니다. ">
    <meta property="og:title" content="뭐든지 만들어드립니다.">
    <meta property="og:description" content="뭐든지 만들어드립니다. 웹으로 만들 수 있는 걸 요청해주시면 최대한 만들어보겠습니다. ">
    <meta name="naver-site-verification" content="7bf5ed460d4c7ce510734301ed66231be04df7ba" />
    <meta name="msvalidate.01" content="CDD92023DE164E539D882BD93CF03BCC" />
    <meta name="google-site-verification" content="6n2SJb2lATZ_KUu0EfXjXrOn2yTT-VcNv7aRmHJGoTU" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header>
    <div class="container">
        <div class="logo" onclick="window.location.href='https://binary96.store/'">
            <h1>뭐든지 만들어드립니다</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="https://binary96.store/lucky"><i class="fas fa-star"></i>오늘의 운세</a></li>
                <li><a href="https://binary96.store/voteList"><i class="fas fa-vote-yea"></i>익명 투표!</a></li>
                <li><a href="https://kimchilotto.netlify.app/"><i class="fas fa-ticket-alt"></i>로또 추첨기</a></li>
                <li><a href="https://godofdeath.pages.dev/"><i class="fas fa-skull-crossbones"></i>죽음 예측 테스트</a></li>
                <li><a href="https://binary96.store/rsiSummary"><i class="fas fa-chart-line"></i>코인 RSI 정보</a></li>
                <li><a href="https://binary96.store/getLotto"><i class="fas fa-medal"></i>로또 당첨 순위</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>

<main class="container">
    <section class="intro">
        <h2>Binary의 서비스</h2>
        <p>필요하신 것을 요청해 주시면 무엇이든 제작해 드리겠습니다.</p>
        <p>채팅창에 요청해 주시면 최대한 만들어 보겠습니다.</p>
        <p>욕은 자제해 주시고 매너 채팅 부탁드립니다~</p>
        <p>웹페이지 예쁘게 꾸며 주신 상윤님 감사합니다. ^^</p>
    </section>

    <div class="service-container">
        <section class="intro">
            <h2>사용자 요청 목록</h2>
            <div class="service">
                <img th:src="@{/img/img1.jpg}" alt="요청한 서비스1">
                <button onclick="window.location.href='https://binary96.store/getLotto'">요청한 서비스1</button>
            </div>
        </section>
    </div>

    <!-- vote_id가 1인 투표 정보 표시 -->
    <div class="vote-container">
        <h2>익명 투표</h2>
        <div class="vote">
            <div>
                <span th:text="${vote.title}" style="font-size: 24px;">투표 제목</span>
            </div>
            <div>
                <span th:text="${voteCount} + '명이 투표에 참여했어요'">참여 인원</span>
            </div>
            <div>
                <form th:action="@{/vote/{id}(id=${vote.id})}" method="get">
                    <button type="submit" class="vote-button">투표 하러가기</button>
                </form>
                <form th:action="@{/vote/results/{id}(id=${vote.id})}" method="get">
                    <button type="submit" class="result-button">투표 결과보기</button>
                </form>
                <button onclick="window.location.href='https://binary96.store/voteList'">투표 목록가기</button>
            </div>
        </div>
    </div>

    <!-- 채팅 시스템 -->
    <div id="chat">
        <div id="chat-box" style="height: 400px; overflow-y: scroll;">
            <div id="messages">
                <div th:each="message : ${messages}">
                    <span th:text="'[' + ${#temporals.format(message.createdDate, 'yyyy. M. d. a h:mm:ss')} + '] '"></span>
                    <span style="color: #4CAF50;" th:text="${message.username}"></span>
                    <span th:text="'님: ' + ${message.message}"></span>
                </div>
            </div>
        </div>
        <input type="text" id="username-input" placeholder="사용자 이름(카톡 로그인 하세요.) 닉네임 변경 가능" readonly>
        <!--        <input type="text" id="username-input" th:placeholder="${session.nickname}" readonly>-->
        <input type="text" id="message-input" placeholder="메시지를 입력하세요" onkeypress="if(event.keyCode==13) sendMessage()">
        <div class="chat-buttons">
            <button class="btn-changeName" onclick="changeNickname()">닉네임 변경하기</button>
            <button class="btn-submit" onclick="sendMessage()">전송</button>
            <a href="/oauth/kakao" class="kakao-link">
                <img id="kakao-login-btn" th:src="@{/img/kakao_login_medium_narrow.png}" alt="카카오톡 로그인">
            </a>
        </div>
    </div>
    <!--    <div>-->
    <!--    </div>-->
    <br>
    <section class="intro">
        <h2>방문해 주셔서 감사합니다!</h2>
        <p>오늘의 방문자 수: <span th:text="${dailyCount}">0</span></p>
        <p>전체 방문자 수: <span th:text="${totalCount}">0</span></p>
        <div id="bottom" class="intro-container">
            후원해 주시면 감사합니다! &#127877; → <a href="https://toss.me/godofdeath">복채 보내기</a>
        </div>
    </section>



    <div class="btn-container">
        <button onclick="window.location.href='https://blog.naver.com/ljs14741'">네이버블로그</button>
        <button onclick="window.location.href='https://jindduya.tistory.com/'">티스토리블로그</button>
    </div>
</main>
<footer>
    <p>&copy; 2024 뭐든지 만들어드립니다. </p>
</footer>

<script th:inline="javascript">
    var stompClient = null;
    var username = "";

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function(message) {
                showMessage(JSON.parse(message.body));
            });
        });
    }

    function sendMessage() {
        var username = [[${session.nickname}]];
        var messageInput = document.getElementById('message-input');
        if(username !== null && username !== undefined && messageInput.value.trim() !== "") {
            // if(username === "") {
            //     username = usernameInput.value;
            //     usernameInput.disabled = true;
            // }
            let offset = 1000 * 60 * 60 * 9; // 9시간 밀리세컨드 값
            let today = new Date(Date.now() + offset);

            var message = {
                username: username,
                message: messageInput.value,
                createdDate: today
            };

            stompClient.send("/app/chat", {}, JSON.stringify(message));
            messageInput.value = '';
        } else {
            alert("카카오톡 로그인을 후 메시지를 입력하세요.");
        }
    }

    function showMessage(message) {
        var messages = document.getElementById('messages');
        var messageElement = document.createElement('div');
        var messageContent = `[${new Date(message.createdDate).toLocaleString()}] ${message.username}: ${message.message}`;
        messageElement.appendChild(document.createTextNode(messageContent));
        messages.appendChild(messageElement); // 새로운 메시지를 맨 아래에 추가
        scrollToBottom(); // 스크롤을 맨 아래로 이동
    }

    function scrollToBottom() {
        var chatBox = document.getElementById('chat-box');
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    function changeNickname() {
        var sessionNickname = [[${session.nickname}]];
        if (sessionNickname !== null && sessionNickname !== undefined) {
            window.location.href = '/profile';
        } else {
            alert("카카오톡 로그인을 후 메시지를 입력하세요.");
        }
    }

    $(document).ready(function() {
        $("#kakao-login-btn").click(function() {
            window.location.href = "/oauth/kakao";
        });
    });

    document.addEventListener('DOMContentLoaded', (event) => {

        var usernameInputElement = document.getElementById('username-input');
        var sessionNickname = [[${session.nickname}]];

        // 세션에 닉네임이 있는 경우 placeholder를 업데이트
        if (sessionNickname !== null && sessionNickname !== undefined) {
            usernameInputElement.placeholder = sessionNickname;
        }

        connect();
        scrollToBottom();
    });

    function toggleMenu() {
        const nav = document.querySelector('header .main-nav ul');
        nav.classList.toggle('active');
    }
</script>
</body>
</html>
