<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>투표 만들기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vote.css}">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6890085609044109"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="vote-container">
    <h1>투표 만들기</h1>
    <form th:action="@{/vote}" method="post">
        <label for="title">투표 제목:</label>
        <input type="text" id="title" name="title" class="vote-input">
        <ul id="optionList" class="vote-options">
            <li>항목 1: <input type="text" name="options" class="vote-input"></li>
            <li>항목 2: <input type="text" name="options" class="vote-input"></li>
        </ul>
        <button type="button" onclick="addOption()" class="vote-button">선택지 추가</button>
        <button type="button" onclick="removeOption()" class="vote-button">선택지 제거</button>
        <button type="submit" class="vote-button">투표 생성</button>
    </form>
</div>

<script>
    function addOption() {
        var optionList = document.getElementById("optionList");
        var optionItem = document.createElement("li");
        var input = document.createElement("input");
        input.type = "text";
        input.name = "options";
        input.classList.add("vote-input");
        optionItem.appendChild(document.createTextNode("항목 " + (optionList.childElementCount + 1) + ": "));
        optionItem.appendChild(input);
        optionList.appendChild(optionItem);
    }

    function removeOption() {
        var optionList = document.getElementById("optionList");
        if (optionList.childElementCount > 2) {
            optionList.removeChild(optionList.lastChild);
        }
        updateOptionNumbers();
    }

    function updateOptionNumbers() {
        var optionList = document.getElementById("optionList");
        var options = optionList.getElementsByTagName("li");
        for (var i = 0; i < options.length; i++) {
            options[i].firstChild.nodeValue = "항목 " + (i + 1) + ": ";
        }
    }

    window.onload = function() {
        updateOptionNumbers();
    };
</script>
</body>
</html>
