<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>투표 만들기</title>
    <script>
        function addOption() {
            var optionList = document.getElementById("optionList");
            var optionItem = document.createElement("li");
            var input = document.createElement("input");
            input.type = "text";
            input.name = "options";
            optionItem.appendChild(input);
            optionList.appendChild(optionItem);
        }
        function removeOption() {
            var optionList = document.getElementById("optionList");
            if (optionList.childElementCount > 2) {
                optionList.removeChild(optionList.lastChild);
            }
        }
    </script>
</head>
<body>
<h1>투표 만들기</h1>
<form th:action="@{/vote}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <ul id="optionList">
        <li><input type="text" name="options"></li>
        <li><input type="text" name="options"></li>
    </ul>
    <button type="button" onclick="addOption()">선택지 추가</button>
    <button type="button" onclick="removeOption()">선택지 제거</button>
    <button type="submit">투표 생성</button>
</form>
</body>
</html>