<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${meet.meetName} + ' - 비공개 투표방'"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="비공개 투표 모임 투표방">
  <meta name="description" content="비공개 투표 모임 투표방">
  <meta property="og:title" content="비공개 투표 모임 투표방">
  <meta property="og:description" content="비공개 투표 모임 투표방">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/vote.css}">
  <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script th:src="@{/js/header.js}"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6890085609044109" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="fragment/header :: headerFragment"></header>

<div class="intro">
  <h2 class="main-title" th:text="${meet.meetName} + ' - 비공개 투표방'"></h2>
</div>

<div class="vote-list-container">
  <div id="public-votes" class="tab active">
    <form id="create-vote-form" th:action="@{/vote/new}" method="get">
      <input type="hidden" name="voteType" value="PRIVATE">
      <input type="hidden" name="meetId" th:value="${meet.id}">
      <button type="submit" class="create-vote-button">투표 만들기!</button>
    </form>

    <ul class="vote-options">
      <li th:each="vote : ${votes}" class="vote-item">
        <div class="vote-info">
          <h3 th:text="${vote.title}">투표</h3>
          <p th:text="'생성시간: ' + ${vote.formattedCreatedDate}">생성시간</p>
          <p th:text="${voteResults[vote.id]} + '명이 투표에 참여했어요'">몇명참여</p>
        </div>
        <div class="vote-actions">
          <form th:action="@{/vote/{id}(id=${vote.id})}" method="get">
            <button type="submit" class="vote-button">투표 하러가기</button>
          </form>
          <form th:action="@{/vote/results/{id}(id=${vote.id})}" method="get">
            <button type="submit" class="result-button">투표 결과보기</button>
          </form>
          <form th:action="@{/vote/edit/{id}(id=${vote.id})}" method="get">
            <button type="submit" class="vote-button">투표 수정하기</button>
          </form>
          <form th:action="@{/vote/delete/{id}(id=${vote.id})}" method="post">
            <button type="submit" class="vote-button">투표 삭제하기</button>
          </form>
        </div>
      </li>
      <li class="vote-item empty"></li>
      <li class="vote-item empty"></li>
    </ul>
  </div>
</div>
<script>
</script>
</body>
</html>
