<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RSI Summary</title>
</head>
<body>
<h1>Hi zzzzz</h1>

<h2>코인 RSI 값</h2>

<table border="1">
    <thead>
    <tr>
        <th>Market</th>
        <th>한글명</th>
        <th>rsi 15</th>
        <th>RSI 60</th>
        <th>RSI Daily</th>
        <th>RSI Weekly</th>
        <th>RSI Monthly</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rsi : ${rsiList}">
        <td th:text="${rsi.market}"></td>
        <td th:text="${rsi.koreanName}"></td>
        <td th:text="${rsi.rsi15}"></td>
        <td th:text="${rsi.rsi60}"></td>
        <td th:text="${rsi.rsiDaily}"></td>
        <td th:text="${rsi.rsiWeekly}"></td>
        <td th:text="${rsi.rsiMonthly}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>