<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Binary</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="google-site-verification" content="6n2SJb2lATZ_KUu0EfXjXrOn2yTT-VcNv7aRmHJGoTU" />
    <meta name="google-adsense-account" content="ca-pub-6890085609044109">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const table = document.querySelector('table');
            const ths = table.querySelectorAll('th');
            const tbody = table.querySelector('tbody');

            ths.forEach(th => {
                th.addEventListener('click', function () {
                    const index = Array.from(ths).indexOf(th);
                    const isAscending = th.classList.toggle('ascending');
                    const rows = Array.from(tbody.querySelectorAll('tr'));

                    rows.sort((a, b) => {
                        const aValue = a.children[index].textContent.trim();
                        const bValue = b.children[index].textContent.trim();
                        if (aValue === bValue) return 0;
                        if (isAscending) {
                            return aValue > bValue ? 1 : -1;
                        } else {
                            return aValue < bValue ? 1 : -1;
                        }
                    });

                    tbody.innerHTML = '';
                    rows.forEach(row => {
                        tbody.appendChild(row);
                    });

                    // 아이콘 회전
                    ths.forEach(otherTh => {
                        if (otherTh !== th) {
                            otherTh.querySelector('i').classList.remove('fa-sort-up', 'fa-sort-down');
                        }
                    });
                    const icon = th.querySelector('i');
                    if (isAscending) {
                        icon.classList.remove('fa-sort-down');
                        icon.classList.add('fa-sort-up');
                    } else {
                        icon.classList.remove('fa-sort-up');
                        icon.classList.add('fa-sort-down');
                    }
                });
            });
        });
    </script>
</head>
<body>
<h1>Binary의 잡동사니</h1>

<!-- 버튼 컨테이너 추가 -->
<div class="btn-container">
    <!-- 로또 추첨기 링크 -->
    <button onclick="window.location.href='https://kimchilotto.netlify.app/'">로또 추첨기</button>
    <!-- 죽음 예측 테스트 링크 -->
    <button onclick="window.location.href='https://godofdeath.pages.dev/'">죽음 예측 테스트</button>
</div>

<h2>코인 RSI 값</h2>
<h3>5분마다 RSI값을 계산합니다.</h3>
<h4>매수하기 좋은 코인: RSI값이 30이하인 경우</h4>
<h4>매도하기 좋은 코인: RSI값이 70이상인 경우</h4>

<table border="1">
    <thead>
    <tr>
        <th>Market <i class="fas fa-sort"></i></th>
        <th>한글명 <i class="fas fa-sort"></i></th>
        <th>RSI 계산 시간</th>
        <th>RSI 15 <i class="fas fa-sort"></i></th>
        <th>RSI 60 <i class="fas fa-sort"></i></th>
        <th>RSI Daily <i class="fas fa-sort"></i></th>
        <th>RSI Weekly <i class="fas fa-sort"></i></th>
        <th>RSI Monthly <i class="fas fa-sort"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rsi : ${rsiList}">
        <td th:text="${rsi.market}"></td>
        <td th:text="${rsi.koreanName}"></td>
        <td th:text="${rsi.updatedAt}"></td>
        <td th:text="${rsi.rsi15}"></td>
        <td th:text="${rsi.rsi60}"></td>
        <td th:text="${rsi.rsiDaily}"></td>
        <td th:text="${rsi.rsiWeekly}"></td>
        <td th:text="${rsi.rsiMonthly}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
