<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>코인 RSI 정보</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="코인 RSI 정보">
    <meta name="description" content="코인 RSI 정보를 알려드립니다~ 15분봉, 60분봉, 일봉, 주봉, 월봉별로 보여드립니다.">
    <meta property="og:title" content="코인 RSI 정보">
    <meta property="og:description" content="코인 RSI 정보를 알려드립니다~ 15분봉, 60분봉, 일봉, 주봉, 월봉별로 보여드립니다.">
    <meta name="google-site-verification" content="6n2SJb2lATZ_KUu0EfXjXrOn2yTT-VcNv7aRmHJGoTU" />
    <meta name="google-adsense-account" content="ca-pub-6890085609044109">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header>
    <div class="container">
        <div class="logo" onclick="window.location.href='https://binary96.store/'">
            <h1>뭐든지 만들어드립니다</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="https://binary96.store/lucky"><i class="fas fa-star"></i>오늘의 운세</a></li>
                <li><a href="https://binary96.store/game"><i class="fas fa-gamepad"></i>게임</a></li>
                <li><a href="https://binary96.store/voteList"><i class="fas fa-vote-yea"></i>익명 투표!</a></li>
                <li><a href="https://kimchilotto.netlify.app/"><i class="fas fa-ticket-alt"></i>로또 추첨기</a></li>
                <li><a href="https://godofdeath.pages.dev/"><i class="fas fa-skull-crossbones"></i>죽음 예측 테스트</a></li>
                <li><a href="https://binary96.store/rsiSummary"><i class="fas fa-chart-line"></i>코인 RSI 정보</a></li>
                <li><a href="https://binary96.store/getLotto"><i class="fas fa-medal"></i>로또 당첨 순위</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>

<section class="intro" style="margin: 100px">
    <h2>코인 RSI 값</h2>
    <h3>10분마다 RSI값을 계산합니다.</h3>
    <h4>매수하기 좋은 코인: RSI값이 30이하인 경우</h4>
    <h4>매도하기 좋은 코인: RSI값이 70이상인 경우</h4>
    <h4>RSI란?</h4>
    <p>RSI(상대 강도 지수, Relative Strength Index)는 기술적 분석에서 많이 사용되는 지표로, 자산의 가격 변동 속도와 변화를 측정하여 과매수(overbought) 또는 과매도(oversold) 상태를 판단하는 데 도움을 줍니다.
        <br>
        RSI는 0에서 100 사이의 값으로 표시되며, 일반적으로 다음과 같은 기준으로 해석됩니다:
        <br>
        <strong>70 이상</strong>: 자산이 과매수 상태일 가능성이 높아 <strong>매도 시점</strong>을 고려할 수 있습니다.
        <br>
        <strong>30 이하</strong>: 자산이 과매도 상태일 가능성이 높아 <strong>매수 시점</strong>을 고려할 수 있습니다.
        <br>
        RSI는 주로 14일 동안의 데이터로 계산되지만, 투자자의 필요에 따라 기간을 조정할 수 있습니다.
        <br>
        RSI 값이 높다는 것은 최근 가격 상승이 강하다는 것을 의미하며, 반대로 RSI 값이 낮다는 것은 최근 가격 하락이 강하다는 것을 의미합니다.
    </p>
</section>

<table border="1">
    <thead>
    <tr>
        <th>Market <i class="fas fa-sort"></i></th>
        <th>한글명 <i class="fas fa-sort"></i></th>
        <th>RSI 계산 시간 <i class="fas fa-sort"></i></th>
        <th>RSI 15 <i class="fas fa-sort"></i></th>
        <th>RSI 60 <i class="fas fa-sort"></i></th>
        <th>RSI Daily <i class="fas fa-sort"></i></th>
        <th>RSI Weekly <i class="fas fa-sort"></i></th>
        <th>RSI Monthly <i class="fas fa-sort"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rsi : ${rsiList}">
        <td th:text="${rsi.market}"></td>
        <td th:text="${rsi.koreanName}"></td>
        <td th:text="${rsi.updatedDate}"></td>
        <td th:text="${rsi.rsi15}"></td>
        <td th:text="${rsi.rsi60}"></td>
        <td th:text="${rsi.rsiDaily}"></td>
        <td th:text="${rsi.rsiWeekly}"></td>
        <td th:text="${rsi.rsiMonthly}"></td>
    </tr>
    </tbody>
</table>

<br>
    <section class="intro">
        <div id="bottom" class="intro-container">
            후원해 주시면 감사합니다! &#127877; → <a href="https://toss.me/godofdeath">복채 보내기</a>
        </div>
    </section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.querySelector('table');
        const ths = table.querySelectorAll('th');
        const tbody = table.querySelector('tbody');

        ths.forEach(th => {
            th.addEventListener('click', function () {
                const index = Array.from(ths).indexOf(th);
                const isAscending = th.classList.toggle('ascending');
                const rows = Array.from(tbody.querySelectorAll('tr'));

                rows.sort((a, b) => {
                    const aValue = a.children[index].textContent.trim();
                    const bValue = b.children[index].textContent.trim();
                    if (aValue === bValue) return 0;
                    if (isAscending) {
                        return aValue > bValue ? 1 : -1;
                    } else {
                        return aValue < bValue ? 1 : -1;
                    }
                });

                tbody.innerHTML = '';
                rows.forEach(row => {
                    tbody.appendChild(row);
                });

                // 아이콘 회전
                ths.forEach(otherTh => {
                    if (otherTh !== th) {
                        otherTh.querySelector('i').classList.remove('fa-sort-up', 'fa-sort-down');
                    }
                });
                const icon = th.querySelector('i');
                if (isAscending) {
                    icon.classList.remove('fa-sort-down');
                    icon.classList.add('fa-sort-up');
                } else {
                    icon.classList.remove('fa-sort-up');
                    icon.classList.add('fa-sort-down');
                }
            });
        });
    });

    function toggleMenu() {
        const nav = document.querySelector('header .main-nav ul');
        nav.classList.toggle('active');
    }
</script>
</body>
</html>
