<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>익명 투표</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="익명 투표">
    <meta name="description" content="익명으로 투표 만들고 투표할 수 있습니다.">
    <meta property="og:title" content="익명 투표">
    <meta property="og:description" content="익명으로 투표 만들고 투표할 수 있습니다.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6890085609044109"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="logo" onclick="window.location.href='https://binary96.store/'">
            <h1>뭐든지 만들어드립니다</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="https://binary96.store/lucky"><i class="fas fa-star"></i>오늘의 운세</a></li>
                <li><a href="https://binary96.store/game"><i class="fas fa-gamepad"></i>게임</a></li>
                <li><a href="https://binary96.store/voteList"><i class="fas fa-vote-yea"></i>익명 투표!</a></li>
                <li><a href="https://kimchilotto.netlify.app/"><i class="fas fa-ticket-alt"></i>로또 추첨기</a></li>
                <li><a href="https://godofdeath.pages.dev/"><i class="fas fa-skull-crossbones"></i>죽음 예측 테스트</a></li>
                <li><a href="https://binary96.store/rsiSummary"><i class="fas fa-chart-line"></i>코인 RSI 정보</a></li>
                <li><a href="https://binary96.store/getLotto"><i class="fas fa-medal"></i>로또 당첨 순위</a></li>
            </ul>
        </nav>
        <div class="hamburger" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>

<div class="toparea_state_wrapper">
    <div class="toparea_state">
        <a href="javascript:void(0);" onclick="redirectToKakaoLogin(event)">카카오로그인</a>
    </div>
</div>

<div class="vote-container" style="margin: 100px">
    <h2>익명 투표</h2>
    <button onclick="createVote()">투표 만들기!</button>
    <ul class="vote-options">
        <li th:each="vote : ${votes}">
            <div>
                <span th:text="${vote.title}">투표</span>
            </div>
            <div>
                <span th:text="'생성시간: ' + ${vote.formattedCreatedDate}">생성시간</span>
            </div>
            <div>
                <span th:text="${voteResults[vote.id]} + '명이 투표에 참여했어요'">몇명참여</span>
            </div>
            <div>
                <form th:action="@{/vote/{id}(id=${vote.id})}" method="get">
                    <button type="submit" class="vote-button">투표 하러가기</button>
                </form>
                <form th:action="@{/vote/results/{id}(id=${vote.id})}" method="get">
                    <button type="submit" class="result-button">투표 결과보기</button>
                </form>
                <button type="button" class="vote-button" th:voteId="${vote.id}" th:kakaoId="${vote.kakaoId}" th:onclick="editVote(this.getAttribute('voteId'), this.getAttribute('kakaoId'))">투표 수정하기</button>
            </div>
        </li>
    </ul>
</div>

<script th:inline="javascript">
    function toggleMenu() {
        const nav = document.querySelector('header .main-nav ul');
        nav.classList.toggle('active');
    }

    function editVote(voteId, voteKakaoId) {
        var sessionKakaoId = [[${session.kakaoId}]];

        console.log('voteKakaoId: ' + voteKakaoId);
        console.log('sessionKakaoId: ' + sessionKakaoId);

        if (Number(sessionKakaoId) === Number(voteKakaoId)) {
            window.location.href = "/vote/edit/" + voteId;
        } else {
            alert("카카오톡 로그인이 필요하며, 수정은 투표 생성자만 가능합니다");
        }
    }
    function createVote() {
        var sessionNickname = [[${session.nickname}]];
        if (sessionNickname !== null && sessionNickname !== undefined) {
            window.location.href = "/vote/new";
        } else {
            alert("카카오톡 로그인을 후 투표를 생성하시오.");
        }
    }

    function redirectToKakaoLogin(event) {
        event.preventDefault();
        const currentUrl = encodeURIComponent(window.location.href);
        window.location.href = `/oauth/kakao?state=${currentUrl}`;
    }


</script>
</body>
</html>