<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>익명 투표하기</title>
</head>
<body>
<div class="vote-container">
    <h1 class="vote-title" th:text="${vote.title}">익명 투표하기</h1>

    <form th:action="@{/vote/{id}(id=${vote.id})}" method="post">
        <ul class="vote-options">
            <li th:each="option : ${options}">
                <input type="radio" th:id="${option.id}" th:name="optionId" th:value="${option.id}">
                <label th:for="${option.id}" th:text="${option.optionText}">Option</label>
            </li>
        </ul>
        <button type="submit" class="vote-button">투표하기</button>
    </form>

    <div th:if="${error}" class="error-message" th:text="${error}"></div>

    <div th:if="${error}">
        <script>
            alert([[${error}]]);
        </script>
    </div>
</div>
</body>
</html>