<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>익명 투표</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="익명 투표">
    <meta name="description" content="익명으로 투표 만들고 투표할 수 있습니다.">
    <meta property="og:title" content="익명 투표">
    <meta property="og:description" content="익명으로 투표 만들고 투표할 수 있습니다.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vote.css}">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script th:src="@{/js/header.js}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6890085609044109" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        // function editVote(voteId, voteKakaoId) {
        // function editVote(voteId) {
            // var sessionKakaoId = [[${session.kakaoId}]];
            //
            // console.log('voteKakaoId: ' + voteKakaoId);
            // console.log('sessionKakaoId: ' + sessionKakaoId);
            //
            // if (Number(sessionKakaoId) === Number(voteKakaoId)) {
            // window.location.href = "/vote/edit/" + voteId;
            // } else {
            //     alert("카카오톡 로그인이 필요하며, 수정은 투표 생성자만 가능합니다");
            // }
        // }
        // function createVote() {
            // var sessionNickname = [[${session.nickname}]];
            // if (sessionNickname !== null && sessionNickname !== undefined) {
            // window.location.href = "/vote/new";
            // window.location.href = "/vote/new?voteType=PUBLIC";
            // } else {
            //     alert("카카오톡 로그인을 후 투표를 생성하시오.");
            // }
        // }

        function promptPassword(form) {
            const password = prompt("비밀번호를 입력하세요:");
            if (password !== null) {
                const passwordInput = document.createElement("input");
                passwordInput.type = "hidden";
                passwordInput.name = "password";
                passwordInput.value = password;
                form.appendChild(passwordInput);
                return true;
            }
            return false;
        }

        // 탭 열기 함수
        function openTab(evt, tabName) {
            if (tabName === 'private-votes') {
                window.location.href = '/meet/privateVoteList';
                return;
            }
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab-button");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            if (evt) {
                evt.currentTarget.className += " active";
            } else {
                document.querySelector(`.tab-button[onclick="openTab(event, '${tabName}')"]`).className += " active";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            // 서버로부터 activeTab 정보를 받아 해당 탭을 활성화
            var activeTab = 'public-votes';
            openTab(null, activeTab);
        });
    </script>
</head>
<body>
    <header th:replace="fragment/header :: headerFragment"></header>

    <div class="intro">
        <h2 class="main-title">익명 투표</h2>
    </div>

    <div class="vote-list-container">
        <div class="tab-buttons">
            <button class="tab-button active" onclick="openTab(event, 'public-votes')">공개투표</button>
            <button class="tab-button" onclick="openTab(event, 'private-votes')">비공개투표</button>
        </div>

        <!-- 공개 투표 탭 내용 -->
        <div id="public-votes" class="tab">
<!--        <button class="create-vote-button" onclick="createVote()">투표 만들기!</button>-->
            <form id="create-vote-form" th:action="@{/vote/new}" method="get">
                <input type="hidden" name="voteType" value="PUBLIC">
<!--                <input type="hidden" name="meetId" value="0">-->
                <button type="submit" class="create-vote-button">투표 만들기!</button>
            </form>
        <ul class="vote-options">
            <li th:each="vote : ${votes}" class="vote-item">
                <div class="vote-info">
                    <h3 th:text="${vote.title}">투표</h3>
                    <p th:text="'생성시간: ' + ${vote.formattedCreatedDate}">생성시간</p>
                    <p th:text="${voteResults[vote.id]} + '명이 투표에 참여했어요'">몇명참여</p>
                </div>
                <div class="vote-actions">
                    <form th:action="@{/vote/{id}(id=${vote.id})}" method="get">
                        <button type="submit" class="vote-button">투표 하러가기</button>
                    </form>
                    <form th:action="@{/vote/results/{id}(id=${vote.id})}" method="get">
                        <button type="submit" class="result-button">투표 결과보기</button>
                    </form>
                    <form th:action="@{/vote/edit/{id}(id=${vote.id})}" method="get">
                        <button type="submit" class="vote-button">투표 수정하기</button>
                    </form>
<!--                    <button type="button" class="vote-button" th:voteId="${vote.id}" th:onclick="editVote(this.getAttribute('voteId'))">투표 수정하기</button>-->
<!--                    <button type="button" class="vote-button" th:voteId="${vote.id}" th:kakaoId="${vote.kakaoId}" th:onclick="editVote(this.getAttribute('voteId'), this.getAttribute('kakaoId'))">투표 수정하기</button>-->
                </div>
            </li>
            <li class="vote-item empty"></li>
            <li class="vote-item empty"></li>
        </ul>
        </div>

        <!-- 비공개 투표 탭 내용 -->
<!--        <div id="private-votes" class="tab">-->
<!--            <button class="create-vote-button" onclick="window.location.href='/meet/new'">투표 모임 만들기</button>-->
<!--            <h3>비공개투표 모임 목록</h3>-->
<!--            <ul class="vote-options">-->
<!--                <li th:each="meet : ${meets}" class="vote-item">-->
<!--                    <div class="vote-info">-->
<!--                        <h3 th:text="${meet.meetName}">모임명</h3>-->
<!--                    </div>-->
<!--                    <div class="vote-actions">-->
<!--&lt;!&ndash;                        <button type="button" class="vote-button" onclick="promptPassword(${meet.id})">모임 참여</button>&ndash;&gt;-->
<!--                        <form th:action="@{/meet/join}" method="post" onsubmit="return promptPassword(this);">-->
<!--                            <input type="hidden" name="meetId" th:value="${meet.id}">-->
<!--                            <button type="submit" class="vote-button">모임 참여</button>-->
<!--                        </form>-->
<!--&lt;!&ndash;                        <form th:action="@{/meet/{id}(id=${meet.id})}" method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="submit" class="vote-button">모임 참여</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </form>&ndash;&gt;-->
<!--                        <form th:action="@{/meet/edit/{id}(id=${meet.id})}" method="get">-->
<!--                            <button type="submit" class="vote-button">모임 수정</button>-->
<!--                        </form>-->
<!--                        <form th:action="@{/meet/delete/{id}(id=${meet.id})}" method="post">-->
<!--                            <button type="submit" class="vote-button">모임 삭제</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="vote-item empty"></li>-->
<!--                <li class="vote-item empty"></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</body>
</html>